<h1 [ngStyle]="{
  background: displayMode === 'flex' ? 'white' : 'red'
}">
  Salut
</h1>

<!-- <p>{{ title }}</p>
<p><strong>{{ number - 2 }}</strong></p>
<p><strong>{{ arr }}</strong></p>
<p><strong>{{ obj.b }}</strong></p>
<p><strong>{{ 'obj.b' }}</strong></p> -->

<!-- <img [src]="imgReact" alt="React logo"> -->
<!-- <button (click)="onClick()">Click</button>

<input 
  type="text" 
  (keyup.enter)="onInput($event)" 
  (blur)="onBlur(myInput.value)"
  #myInput
>
<p><strong>{{inputValue}}</strong></p>

<hr>

<app-post></app-post>

<hr>

<app-post4></app-post4>

<p><strong>{{title}}</strong></p>

<input type="text" [value]="title" (input)="onInputTitle($event)">

<p><strong>{{article}}</strong></p>

<input type="text" [(ngModel)]="article"> -->

<button (click)="displayMode = displayMode === 'flex' ? 'none' : 'flex'">toggle</button>

<div [ngStyle]="{
  display: displayMode,
  width: '200px',
  height: '200px',
  borderRadius: '16px',
  border: '1px solid #ccc',
  marginTop: '.5rem'
}">

</div>
