<h1 [ngStyle]="{
  background: displayMode === 'flex' ? 'white' : 'red'
}">
  Salut
</h1>

<!-- <p>{{ title }}</p>
<p><strong>{{ number - 2 }}</strong></p>
<p><strong>{{ arr }}</strong></p>
<p><strong>{{ obj.b }}</strong></p>
<p><strong>{{ 'obj.b' }}</strong></p> -->

<!-- <img [src]="imgReact" alt="React logo"> -->
<!-- <button (click)="onClick()">Click</button>

<input 
  type="text" 
  (keyup.enter)="onInput($event)" 
  (blur)="onBlur(myInput.value)"
  #myInput
>
<p><strong>{{inputValue}}</strong></p>

<hr>

<app-post></app-post>

<hr>

<app-post4></app-post4>

<p><strong>{{title}}</strong></p>

<input type="text" [value]="title" (input)="onInputTitle($event)">

<p><strong>{{article}}</strong></p>

<input type="text" [(ngModel)]="article"> -->

<button (click)="displayMode = displayMode === 'flex' ? 'none' : 'flex'">toggle</button>

<!-- <div [ngStyle]="{
  display: displayMode,
  width: '200px',
  height: '200px',
  borderRadius: '16px',
  border: '1px solid #ccc',
  marginTop: '.5rem'
}">

</div> -->

<button (click)="isRed = !isRed">toggle bg</button>

<!-- <p [ngClass]="{
  red: isRed,
  blue: !isRed
}">
  satoroperatenet
</p>

<p 
  [class.blue]="isRed"
  [class.red]="!isRed"
>
  areporotas
</p> -->

<!-- <p *ngIf="isRed; else blueP" class="red">Lorem ipsum dolor sit amet.</p>

<ng-template #blueP>
  <p class="blue">Lorem ipsum dolor sit amet consectetur.</p>
</ng-template> -->

<button (click)="isRed = null">Set default</button>

<div [ngSwitch]="isRed">
  <p *ngSwitchCase="true" class="red">Lorem, ipsum dolor.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum dolor sit.</p>
  <p *ngSwitchDefault=""></p>
</div>